/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}

/* Utility Classes */
.primaryH{
    font-size: 2.8rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
}
.btn{
    padding: 16px 28px ;
    border: 2px solid white;
    background-color: brown ;
    color: white;
    margin: 17px ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}
.center{
    text-align: center;
}

.secondaryH{
        font-size: 2rem;
        padding: 12px;
        font-family: "Bree Serif", serif;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar */
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navbar{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    position: relative;
}

/*  Navigation Bar: Logo and Image */
#logo img{
    margin: 4px 25px;
    height: 75px;
}

/*  Navigation Bar: List styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem ;
}
#navbar ul li a {
    padding: 2px 33px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: "Bree Serif", serif;
}
#navbar ul li a:hover{
    background-color: burlywood;
    font-weight: bold;
}

/* Home Section */
#home::before{
    content: "";
    background:url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.45;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}

#home h1{
    color: rgb(71, 15, 15);
    text-align: center;
    font-family: "Bree Serif", serif;
    margin: 220px 0px 0px 0px;
}

#home p{
    color: rgb(71, 15, 15);
    text-align: center;
    font-family: "Bree Serif", serif;
    font-size: 1.5rem;
}

/* Srvices Section */
.services-container{
    /* border: 2px solid red; */
    margin: 190px 2px;
    height: 600px;
}
#services{
    display: flex;
    /* border: 2px solid green; */
}

#services .box{
    background-color: antiquewhite;
    border: 2px solid rgb(253, 210, 154); 
    margin: 2px 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 6.5px rgb(200, 163, 115);

}
#services .box img{
    display: block;
    height: 250px;
    width: 350px;
    margin: auto;
}
#services .box p{

    margin: 15px auto;
    font-family: "Bree Serif", serif;
}

/* Client Section */
#client-sec::before{
    content: "";
    background: url('../img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: -1;
    opacity: 0.25;
}
#client-sec{
    margin-top: -200px;
    /* border: 2px solid red; */
}
#client{
    /* border: 2px solid green; */
}
#client-item{
    display: flex;
    /* border: 2px solid tomato; */
}
#client-item img{
    display: block;
    height: 250px;
    width: 290px;
    margin: auto;
}

/* Contact Section */
#contact{
    margin: 13px 25%;
    width: 50%;

}
#contact-box{
    background-color: antiquewhite;
    border-radius: 12px;
    margin: 15px;
    box-shadow: 2px 3px 6.5px rgb(255, 188, 101);

}
#contact-box input{
    width: 50%;
    height: 40px;
    border: 28px;
    margin: 10px 25%;
    border-radius: 10px;
}

#contact-box label{
    width: 50%;
    height: 40px;
    margin: 200px 15%;
    font-family: "Bree Serif", serif;
    font-size: 18px;
}
input[type='submit']{
    font-family: "Bree Serif", serif;
    border: 2px solid black;
    cursor: pointer;
    font-size: 15px;
    width: 130px;
}

input::placeholder{
    text-align: center;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    opacity: 0.5;
}